* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-image: url(images/donation13.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
}
header h1 {
  color: white;
  padding-top: 200px;
  font-size: 60px;
}
header p {
  width: 700px;
  margin: auto;
  color: antiquewhite;
  margin-top: 35px;
  font-weight: 200px;
}
button {
  font-size: 22px;
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: tomato;
  font-weight: bold;
  margin-top: 30px;
}

/*------------------2nd page-----------------------*/

.donate-section {
  text-align: center;
  background-color: antiquewhite;
  height: 90vh;
}
.donate-section h1 {
  padding-top: 80px;
  font-size: 60px;
  font-weight: 700;
}
.donate-section-p {
  color: rgb(95, 95, 84);
  margin-top: 20px;
  text-align: center;
}
.donate-section-tk p {
  width: 130px;
  display: inline-block;
  padding: 30px 15px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  background-color: #dfd1d1;
  margin: 70px 5px 0 5px;
  text-align: center;
}
.donate-section-tk .active {
  background-color: rgb(247, 133, 112);
  border: 1px solid tomato;
}
.donate-section .other-amount {
  margin-top: 50px;
  padding-bottom: 10px;
}
#fname {
  border: none;
  outline: none;
  background: transparent;
}
hr {
  width: 600px;
  margin: 0 auto;
}
/*----------------3rd page-------------- */
.grand-parent {
  height: 100vh;
  background: rgba(211, 207, 199, 0.067);
  color: #181717;
}
.grand-parent h1 {
  padding-top: 80px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.grand-parent-p {
  color: #000;
  margin-top: 20px;
  text-align: center;
}
.parents {
  width: 80vw;
  height: auto;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.child {
  height: 350px;
  background: #85dae0;
  flex: 1 1 200px;
  margin: 15px;
  padding: 20px 40px;
  border-radius: 10px;
}
.child:first-child {
  background: #da99c4;
}
.child:last-child {
  background: #7e6ab4;
}
.child img {
  width: 60px;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.child {
  text-align: left;
}
.child h3 {
  margin-bottom: 10px;
}
/*---------------gallery page---------------*/
.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 20px 0 20px;
}
.gallery h3 {
  font-size: 50px;
}
.gallery .current-situation {
  margin-bottom: 40px;
}
.gallery .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}
.gallery .box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
/*-------------------Contact page---------------*/
.contact {
  margin: 100px 0px;
  text-align: center;
}
.contact h3 {
  font-size: 50px;
  text-align: center;
  margin-top: 70px;
}
.contact p {
  padding: 30px 0px;
}
.contact-email {
  width: 600px;
  margin: auto auto;
  background-color: rgb(241, 211, 172);
  padding: 50px;
  border-radius: 10px;
}
.contact-email #emails {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  font-size: 17px;
}
.contact-email #submit {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  background: tomato;
}
/*-----------------footer---------------------*/
footer {
  text-align: center;
  padding: 30px;
  background: #000;
}
footer h2 {
  color: tomato;
  font-size: 40px;
  font-style: italic;
}
footer p {
  color: antiquewhite;
}
